<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<p:dialog header="#{msgBundle.label_dodaj_poglavje}" id="dodajNaslPoglavjeDialog" widgetVar="dodajNaslPoglavjeDialog"
          resizable="false" fitViewport="true">
    <h:form>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="poglavje" value="#{msgBundle.label_ime_poglavja}:" />
            <p:inputText id="poglavje" value="#{kratekTecajView.imePoglavja}" required="true" />
        </h:panelGrid>

        <p:toolbar>
            <f:facet name="right">
                <p:commandButton value="#{msgBundle.btn_shrani}"
                                 action="#{kratekTecajView.dodajNaslednjiClen()}"
                                 update="form:message"
                                 oncomplete="PF('dodajNaslPoglavjeDialog').hide();"/>
                <p:commandButton value="#{msgBundle.btn_zapri}" onclick="PF('dodajNaslPoglavjeDialog').hide();"/>
            </f:facet>
        </p:toolbar>
    </h:form>
</p:dialog>
</html>

