<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<p:dialog header="#{msgBundle.label_dodaj_poglavje}" id="dodajPoglavjeDialog" widgetVar="dodajPoglavjeDialog" resizable="false">
    <h:form>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="poglavje" value="#{msgBundle.label_ime_poglavja}:" />
            <p:inputText id="poglavje" value="#{tecajView.imePoglavja}" required="true" />

            <f:facet name="footer">
                <p:commandButton value="#{msgBundle.btn_shrani}" update="form:message" action="#{tecajView.dodajPoglavje}"
                                 oncomplete="PF('dodajPoglavjeDialog').hide()"/>
            </f:facet>
        </h:panelGrid>
    </h:form>
</p:dialog>
</html>

