<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<p:dialog header="#{msgBundle.label_kratek_tecaj}" id="kratekTecajDialog" widgetVar="kratekTecajDialog" resizable="false"
          fitViewport="true" position="top" style="min-width: 500px;">
    <p:ajax event="close" resetValues="true"/>
    <h:form id="kratekTecajDialogForm">
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="id" value="#{msgBundle.label_id}" />
            <p:inputText id="id" value="#{kratekTecajListView.selectedZaporedje.idZaporedje}" disabled="true" />

            <h:outputLabel for="zaporedje" value="#{msgBundle.label_tecaj}:"/>
            <p:inputText id="zaporedje" value="#{kratekTecajListView.selectedZaporedje.ime}"
                         required="#{not empty param[save.clientId]}"
                         maxlength="45"/>
        </h:panelGrid>
        <p:separator/>

        <p:selectBooleanCheckbox rendered="#{kratekTecajListView.selectedZaporedje.idZaporedje == null}"
                                 value="#{kratekTecajListView.zacniIzTecaja}" itemLabel="#{msgBundle.label_zacni_iz_tecaja}">
            <p:ajax process="@form" update="@form" />
        </p:selectBooleanCheckbox>

        <p:separator/>

        <p:panel id="pickListPanel" rendered="#{kratekTecajListView.zacniIzTecaja}"
                 header="#{msgBundle.label_izberi_poglavja}"
                 style="margin-bottom:10px;">
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="tecaj" value="#{msgBundle.label_tecaj}"/>
                <p:selectOneMenu id="tecaj" value="#{kratekTecajListView.selectedTecaj}" style="width:150px" converter="omnifaces.SelectItemsIndexConverter">
                    <p:ajax event="change" listener="#{kratekTecajListView.fillPoglavjeItemPickList}" update="pickList"/>
                    <f:selectItems value="#{kratekTecajListView.tecajItemList}" var="tecajItem" itemLabel="#{tecajItem.ime}" />
                </p:selectOneMenu>

            </h:panelGrid>

            <p:pickList id="pickList" value="#{kratekTecajListView.poglavjeItemPickList}" var="poglavje"
                        itemLabel="#{poglavje.ime}" itemValue="#{poglavje}" converter="poglavjeItemConverter"/>
        </p:panel>

        <p:toolbar>
            <f:facet name="right">
                <p:commandButton value="#{msgBundle.btn_shrani}"
                                 id="save"
                                 binding="#{save}"
                                 action="#{kratekTecajListView.shraniZaporedje()}"
                                 process="kratekTecajDialogForm"
                                 update="form:message"/>
                <p:commandButton value="#{msgBundle.btn_zapri}" onclick="PF('kratekTecajDialog').hide();"/>
            </f:facet>
        </p:toolbar>
    </h:form>
</p:dialog>
</html>

