<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<p:dialog header="Tecaj" id="tecajDialog" widgetVar="tecajDialog" resizable="false">
    <p:ajax event="close" resetValues="true"/>
    <h:form>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="id" value="#{msgBundle.label_id}" />
            <p:inputText id="id" value="#{tecajListView.selectedTecaj.idTecaj}" disabled="true" />

            <h:outputLabel for="tecaj" value="#{msgBundle.label_tecaj}:" />
            <p:inputText id="tecaj" value="#{tecajListView.selectedTecaj.ime}" maxlength="45" required="true" />
        </h:panelGrid>

        <p:toolbar>
            <f:facet name="right">
                <p:commandButton value="#{msgBundle.btn_shrani}"
                                 action="#{tecajListView.shraniTecaj()}"
                                 process="@form"
                                 update="form:message"
                                 oncomplete="PF('tecajDialog').hide();"/>
                <p:commandButton value="#{msgBundle.btn_zapri}" onclick="PF('tecajDialog').hide();"/>
            </f:facet>
        </p:toolbar>
    </h:form>
</p:dialog>
</html>

