<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:form id="form">
    <h:outputLabel value="#{errorView.errorMessage}" style="font-weight:bold" />
</h:form>
</html>