<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">


<p:dialog header="#{msgBundle.label_spremeni_geslo}" id="changePasswordDialog" widgetVar="changePasswordDialog" resizable="false">
    <h:form>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="password" value="#{msgBundle.label_password}:" />
            <p:password id="password" value="#{changePasswordView.password}" required="true" label="password" />

            <f:facet name="footer">
                <p:commandButton value="#{msgBundle.btn_shrani}" update="form:message" action="#{changePasswordView.spremeniGeslo}"/>
            </f:facet>
        </h:panelGrid>
    </h:form>
</p:dialog>
</html>

