<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">


<p:dialog header="#{msgBundle.label_spremeni_temo}" id="themeDialog" widgetVar="themeDialog" resizable="false">
    <h:form>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="tema" value="#{msgBundle.label_tema}:" />

            <p:themeSwitcher id="tema" style="width:165px" value="#{themeController.selectedTheme}"
                             effect="fade"
                             converter="omnifaces.SelectItemsConverter">
                <f:selectItems value="#{themeController.themes}"/>
                <p:ajax listener="#{themeController.saveTheme}" process="@form"/>
            </p:themeSwitcher>
        </h:panelGrid>
    </h:form>
</p:dialog>
</html>

