<ui:composition template="/WEB-INF/templates/frame.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="content">
    <div class="ui-g">
        <div class="ui-g-1"/>
        <div class="ui-g-10">
            <h:outputText value="#{msgBundle.label_kratki_tecaji}" styleClass="header-output"/>
            <p:toolbar>
                <f:facet name="left">
                    <p:commandButton value="#{msgBundle.btn_dodaj}" icon="fa fa-fw fa-plus"
                                     action="#{kratekTecajListView.dodajZaporedjeClick()}"
                                     immediate="true"/>
                </f:facet>
            </p:toolbar>

            <p:spacer height="1"/>

            <p:dataTable id="dtZaporedja" value="#{kratekTecajListView.zaporedjeItemList}"
                         var="zaporedje"
                         selectionMode="single"
                         selection="#{kratekTecajListView.selectedZaporedje}"
                         rowKey="#{zaporedje}"
                         emptyMessage="#{msgBundle.label_ni_zapisov}"
                         rows="10"
                         paginator="true"
                         paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15">

                <p:ajax event="rowDblselect" oncomplete="PF('kratekTecajDialog').show();" update="kratekTecajDialog"/>
                <p:column headerText="#{msgBundle.label_id}">
                    <h:outputText value="#{zaporedje.idZaporedje}"/>
                </p:column>
                <p:column headerText="#{msgBundle.label_ime_kratkega_tecaja}">
                    <h:outputText value="#{zaporedje.ime}"/>
                </p:column>
                <p:column>
                    <p:link outcome="#{kratekTecajListView.povezava(zaporedje.idZaporedje)}" value="#{msgBundle.label_povezava}"/>
                </p:column>

               <p:column style="width: 100px;">
                    <p:commandButton value="#{msgBundle.btn_prenesi}"
                                     ajax="false"
                                     process="@this"
                                     icon="pi pi-arrow-down">
                        <p:fileDownload value="#{kratekTecajListView.prenesiTecaj(zaporedje.idZaporedje)}" />
                    </p:commandButton>
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton icon="fa fa-fw fa-trash" title="#{msgBundle.btn_izbrisi}"
                                     action="#{kratekTecajListView.izbrisiZaporedje()}"
                                     process="@this"
                                     update="form:message">
                        <f:setPropertyActionListener value="#{zaporedje}" target="#{kratekTecajListView.selectedZaporedje}" />
                        <p:confirm header="#{msgBundle.confirm_title}" message="#{msgBundle.confirm_message}" icon="pi pi-exclamation-triangle" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msgBundle.label_yes}" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="#{msgBundle.label_no}" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
            </p:confirmDialog>
        </div>
        <div class="ui-g-1"/>
    </div>
</ui:define>
<ui:define name="dialogs">
    <ui:include src="dialogs/kratekTecajDialog.xhtml"/>
</ui:define>
</ui:composition>
