<ui:composition template="/WEB-INF/templates/frame.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="content">
    <div class="ui-g-12" style="padding-bottom: 0;">
        <p:toolbar styleClass="headerToolbar">
            <f:facet name="right">
                <h:outputText rendered="#{loginView.user == null}" value="#{kratekTecajView.zaporedjeItem.ime}"/>
                <h:outputLabel rendered="#{loginView.user != null}" for="imeTecaja" value="#{msgBundle.label_tecaj}:"/>
                <p:inputText id="imeTecaja" value="#{kratekTecajView.zaporedjeItem.ime}"
                             required="true"
                             maxlength="45"
                             rendered="#{loginView.user != null}"
                             style="width: 300px;"/>
            </f:facet>
        </p:toolbar>
    </div>
    <div class="ui-g-12" style="display: flex; padding-top: 0;">
        <div class="ui-g-12 ui-md-2" style="padding: 0; flex: 1;">
            <p:menu styleClass="left-menu" model="#{kratekTecajView.model}" rendered="#{kratekTecajView.meniRendered}" />
        </div>
        <div class="ui-g-12 ui-md-10 ui-g-nopad">
            <div class="ui-g-12" style="padding-bottom: 0;">
                <h:outputLabel rendered="#{loginView.user != null}" for="imePoglavja" value="#{msgBundle.label_poglavje}:"/>
                <p:inputText id="imePoglavja" value="#{kratekTecajView.selectedClenZaporedjaItem.ime}"
                             required="true"
                             maxlength="45"
                             rendered="#{loginView.user != null}"
                             style="width: 300px;"/>

                <h:outputText rendered="#{loginView.user == null}" value="#{kratekTecajView.selectedClenZaporedjaItem.ime}"/>

                <p:separator/>

                <h:outputText styleClass="output-vsebina"
                              rendered="#{loginView.user == null and kratekTecajView.selectedClenZaporedjaItem.idClenZaporedja != null}"
                              value="#{kratekTecajView.selectedClenZaporedjaItem.vsebina}"
                              escape="false"/>
                <p:outputPanel rendered="#{loginView.user != null and kratekTecajView.selectedClenZaporedjaItem.idClenZaporedja != null}">
                    <textarea id="summernote" name="editordata"></textarea>
                    <h:inputHidden id="vsebinaHidden" value="#{kratekTecajView.selectedClenZaporedjaItem.vsebina}" />

                    <p:commandButton value="#{msgBundle.btn_shrani}" icon="pi pi-save"
                                     action="#{kratekTecajView.saveVsebina()}"
                                     update="form:message"
                                     oncomplete="summernoteFill();"/>

                    <p:commandButton value="#{msgBundle.btn_izbrisi}" icon="pi pi-times" process="@form"
                                     action="#{kratekTecajView.clearVsebina()}" update="form:message"
                                     oncomplete="summernoteFill();">
                        <p:confirm header="#{msgBundle.confirm_title}" message="#{msgBundle.confirm_message}" icon="pi pi-exclamation-triangle" />
                    </p:commandButton>
                </p:outputPanel>

                <p:toolbar rendered="#{loginView.user != null or
                                        kratekTecajView.selectedClenZaporedjaItem.longPrejsnjiClen != null or
                                        kratekTecajView.selectedClenZaporedjaItem.longNaslednjiClen != null}">
                    <f:facet name="left">
                        <p:commandButton id="btnPrejClen"
                                         value="#{msgBundle.btn_nazaj}"
                                         icon="fa fa-fw fa-arrow-left"
                                         action="#{kratekTecajView.prejsnjePoglavje()}"
                                         rendered="#{kratekTecajView.selectedClenZaporedjaItem.longPrejsnjiClen != null}"
                                         update="@form"/>
                    </f:facet>
                    <f:facet name="right">
                        <p:commandButton id="btnNaslClen"
                                         value="#{msgBundle.btn_naprej}"
                                         icon="fa fa-fw fa-arrow-right"
                                         action="#{kratekTecajView.naslednjePoglavje()}"
                                         rendered="#{kratekTecajView.selectedClenZaporedjaItem.longNaslednjiClen != null or loginView.user != null}"
                                         update="@form form:message"/>
                    </f:facet>
                </p:toolbar>

                <p:contextMenu for="btnNaslClen" rendered="#{loginView.user != null}">
                    <p:menuitem value="#{msgBundle.btn_dodaj}" icon="pi pi-plus" oncomplete="PF('dodajNaslPoglavjeDialog').show()"/>
                    <p:menuitem value="#{msgBundle.btn_izbrisi}" icon="pi pi-times" action="#{kratekTecajView.izbrisiNaslednjiClen()}">
                        <p:confirm header="#{msgBundle.confirm_title}" message="#{msgBundle.confirm_message}" icon="pi pi-exclamation-triangle"/>
                    </p:menuitem>
                </p:contextMenu>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="#{msgBundle.label_yes}" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                    <p:commandButton value="#{msgBundle.label_no}" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </p:confirmDialog>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            summernoteFill();
        });

        function summernoteFill() {
            $('#summernote').summernote();
            $('#summernote').summernote('code', $('#contentForm\\:vsebinaHidden').val());
        }
    </script>
</ui:define>
<ui:define name="dialogs">
    <ui:include src="dialogs/dodajNaslPoglavjeDialog.xhtml"/>
</ui:define>
</ui:composition>
